@page "/chat"
@page "/chat/{ToUserId:int}"

@using BlazingChat.Shared

<div class="col-12">
    <p></p>
</div>

<div style="border:0px;height:90vh;">
    <div class="panel panel-primary" style="height: 100%;">
        <div class="panel-heading top-bar">
        <div class="col-md-8 col-xs-8">
            <h3 class="panel-title">
                @if(ToUser != null && (ToUser.FirstName != null || ToUser.LastName != null))
                {
                    <b>@ToUser.FirstName<span> </span>@ToUser.LastName</b>
                }
            </h3>
        </div>
        </div>

        <div id="divMessageContainerBase" class="panel-body msg_container_base">

        </div>

        <!--CHAT USER BOX-->
        <div class="panel-footer">
            <div class="input-group" id="myForm">
                <input id="txtMessageInput" type="text" class="form-control input-sm chat_input"
                placeholder="Write your message here...">
            </div>
        </div>
    </div>

</div>

@code {
    [Parameter]
    public int ToUserId { get; set; } = 1;
    private List<Contact> ContactList { get; set; } = new List<Contact>();
    public Contact ToUser { get; set; } = new Contact(1, "Imamul", "Hassan");

    protected override void OnInitialized()
    {
        ContactList.Add(new Contact(1, "Imamul", "Hassan"));
        ContactList.Add(new Contact(2, "Tanjila", "Shamima"));
        ContactList.Add(new Contact(3, "Ahmed", "Saif"));
        ContactList.Add(new Contact(4, "Shahoriar", "Nahid"));
        ContactList.Add(new Contact(5, "Jafor", "Iqbal"));
        ContactList.Add(new Contact(6, "Shanta", "Dey"));

        ToUser = ContactList.Where(con => con.ContactId == ToUserId).FirstOrDefault();
    }
}